version: "3.9"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis
    env_file:
      - .env

  worker:
    build: .
    command: celery -A app.celery.celery_app worker -Q transactions --loglevel=info
    depends_on:
      - redis
    env_file:
      - .env

  redis:
    image: redis
    ports:
      - "6379:6379"
